global
    log /dev/log local0
    log localhost local1 notice
    log stdout format raw local0
    user haproxy
    group haproxy
    daemon

defaults
    log global
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

frontend internal-postgresql-tcp-in
    bind *:5000
    mode tcp
    option tcplog

    default_backend postgresql

backend postgresql
    option httpchk
    http-check expect status 200

    server primary-patroni-1 {{ groups.primary_host_internal[0] }}:5432 maxconn 100 check port 8008
    server primary-patroni-2 {{ groups.primary_patronis_internal[0] }}:5432 maxconn 100 check port 8008
    server primary-patroni-3 {{ groups.primary_patronis_internal[1] }}:5432 maxconn 100 check port 8008
    server primary-patroni-4 {{ groups.primary_patronis_internal[2] }}:5432 maxconn 100 check port 8008
